# Eat Safe, Love

## Notebook Set Up

In [20]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [21]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [22]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [23]:
# review the collections in our database
collections = db.list_collection_names()
print(collections)

['establishments']

In [24]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [25]:
# Find the establishments with a hygiene score of 20
query = {"hygiene": 20}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
# Display the first document in the results using pprint
first_result = establishments.find_one(query)

In [26]:
# Convert the result to a Pandas DataFrame
results = list(establishments.find(query))
df = pd.DataFrame(results)
# Display the number of rows in the DataFrame
print(df.head())
# Display the first 10 rows of the DataFrame
df.head(10)

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [27]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {
    "LocalAuthorityName": "London",  # Establishments in London
    "RatingValue": {"$gte": 4}  # RatingValue greater than or equal to 4
}

# Use count_documents to display the number of documents in the result
num_documents = establishments.count_documents(query)
# Display the first document in the results using pprint
first_result = establishments.find_one(query)
pprint(first_result)

None

In [28]:
# Convert the result to a Pandas DataFrame
df_results = pd.DataFrame(list(results))
# Display the number of rows in the DataFrame
print(df.head())
# Display the first 10 rows of the DataFrame
df_results.head(10)

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [29]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude =
longitude =

query =
sort =
limit =

# Print the results

SyntaxError: invalid syntax (3510804407.py, line 6)

In [ ]:
# Convert result to Pandas DataFrame
df_results = pd.DataFrame(list(results)

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
pipeline = [
{"$match": {"HygieneScore": 0}},
# Print the number of documents in the result
print
# Print the first 10 results
pprint(results[:10])

In [ ]:
# Convert the result to a Pandas DataFrame
df_results = pd.DataFrame(results)
# Display the number of rows in the DataFrame
num_rows = len(df_results)
# Display the first 10 rows of the DataFrame
print(df_results.head(10))